.profile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.profile-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.2s ease-in-out;
    color: white;
    background-color: #4f46e5;
}

.profile-icon:hover {
    background: #3740ff;
}

.profile-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #333;
    color: white;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    border-radius: 10px 0 0 10px;
}

.profile-sidebar button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 1rem;
    border-radius: 5px;
}

.profile-sidebar button:hover {
    background-color: #4f46e5;
    color: white;
}

.profile-balance-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* добавим padding, чтобы увеличить отступы и обеспечить лучшее пространство */
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* добавляем тень, чтобы выделить */
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.refresh-button {
    font-size: 1.2rem;
    margin-left: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #4f46e5;
    color: white;
    border: none;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #4f46e5;
    color: white;
}


.balance-updated-at {
    font-size: 0.75rem;
    color: #888;
    margin-top: 0.25rem;
}

.profile-info {
    margin-top: 2rem;
    padding: 20px;
    background-color: #444;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.profile-field {
    margin-bottom: 15px;
}

.field-label {
    font-weight: bold;
    color: #bbb;
    font-size: 1rem;
    margin-bottom: 5px;
}

.field-value {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info .profile-field .field-value {
    padding-left: 10px;
    font-size: 1.1rem;
}

.profile-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    padding-top: 10px;
}

.profile-sidebar button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 1rem;
    border-radius: 5px;
}

.profile-balance-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info .profile-field {
    padding-bottom: 10px;
}

.field-label {
    font-weight: 600;
    color: #bbb;
}

.field-value {
    color: white;
    font-weight: 400;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #c82333;
}

.logout-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}


.category-balance {
    background-color: #3a3a3a;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
    text-align: center;
    min-width: 225px;
    flex-shrink: 0;
}

.balance-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.balance-item p {
    font-weight: bold;
    margin-bottom: 5px;
}

.balance-item span {
    font-size: 1.25rem;
    font-weight: bold;
}

.income span {
    color: #28a745;
}

.outcome span {
    color: #dc3545;
}

.total span {
    color: #007bff;
}