.transaction-item {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.transaction-desc {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid #444;
    padding: 20px;
}

.transaction-type {
    font-size: 0.9rem;
    color: #ccc;
}

.transaction-amount {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.transaction-date {
    font-size: 0.8rem;
    color: #bbb;
}

.menu-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.menu-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.menu-button:hover {
    color: #4f46e5;
}

.menu-dropdown {
    background-color: #333;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    z-index: 10;
}

.menu-dropdown button {
    background: transparent;
    color: white;
    padding: 8px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.menu-dropdown button:hover {
    background-color: #4f46e5;
}
